* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.background-color{
    background-color: rgb(1, 1, 26);

}

.fon {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(1, 1, 26);
    border: solid white 1px;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 1px 20px 1px white;
}

.txtram {
    width: 200px;
    height: 40px;
    border: solid 3px  rgb(1, 1, 26);
}

.txt {
    color: white;
    font-size: 25px;
    margin-left: 4px;
    margin-top: 3px;
}

.ram{
    display: flex;
    background-color: rgb(1, 1, 26);
    width: 500px;
    height: 600px;
    margin-top: 150px;
    margin-left: 710px;
    border-radius: 50px;
    box-shadow: 4px 1px 20px 1px white;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid white 1px;
}

.entram{
    width: 200px;
    height: 100px;
    border: solid 3px  rgb(1, 1, 26);
    
}

.entrance {
    color: white;
    font-size: 50px;
    width: 20px;
    height: 10px;
    margin-left: 30px;
    margin-top: 15px;
}

.input-button-ram{
    width: 450px;
    height: 400px;
    border: solid 3px  rgb(1, 1, 26);
    padding-bottom: 70px;
    padding-top: 20px; 
    z-index: 0;    
}

.input1 {
    background-color: rgb(1, 1, 26);
    width: 400px;
    height: 60px;
    margin-left: 25px;
}

.input2 {
    background-color: rgb(1, 1, 26);
    width: 400px;
    height: 60px;
    margin-left: 25px;
    margin-top: 40px;
}

.input3 {
    background-color: rgb(1, 1, 26);
    width: 400px;
    height: 60px;
    margin-left: 25px;
    margin-top: 40px;
}
.button {
    background-color: rgb(1, 1, 26);
    width: 400px;
    height: 60px;
    margin-left: 25px;
    margin-top: 40px; 
    border-radius: 20px; 
    color: white; 
}

.txtram1{
    color: green;
    margin-bottom: 80px;
    margin-right: 80px;
    font-size: 15px;
    width: 300px;
    height: 30px;
    border: solid 3px  rgb(1, 1, 26);
    z-index: 1;
}