* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.fon {
    width: 100%;
    height: 1000px;
}

.auto {
    display: flex;
    width: 2000px;
    height: 100px;
    background: linear-gradient(orange 10px, red);
    justify-content: center;
    align-items: center;
}

.txtram {
    width: 250px;
    height: 40px;
}

.txt {
    font-size: 30px;
    color: white;
}

.ram {
    position: relative;
    background-color: rgb(95, 0, 0);
    width: 500px;
    height: 700px;
    margin-top: 70px;
    margin-left: 750px;
    border-radius: 50px;
    box-shadow: 10px 5px 50px 5px;
}

.entrance {
    position: absolute;
    font-size: 50px;
    margin-left: 180px;
    margin-top: 200px;
}

.input1 {
    position: absolute;
    width: 400px;
    height: 60px;
    margin-top: 150px;
    margin-left: 50px;
    font-size: 20px;
}

.input2 {
    position: absolute;
    width: 400px;
    height: 60px;
    margin-top: 250px;
    margin-left: 50px;
    font-size: 20px;
}

.input3 {
    position: absolute;
    width: 400px;
    height: 60px;
    margin-top: 350px;
    margin-left: 50px;
    font-size: 20px;
}

.button {
    position: absolute;
    width: 400px;
    height: 60px;
    margin-top: 500px;
    margin-left: 50px;
    border-radius: 50px;
}

.reg {
    font-size: 21px;
    color: blue;
}

.text1 {
    position: absolute;
    font-size: 18px;
    margin-top: 600px;
    margin-left: 130px;
    color: white;
}